body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

/* --- СЕТКА МЕНЮ В 2 СТОЛБЦА --- */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 15px;
    padding-bottom: 100px; /* Отступ для корзины */
}

/* --- КАРТОЧКА ТОВАРА --- */
.menu-item {
    background: #ffffff;
    border-radius: 18px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}

.menu-item:active {
    transform: scale(0.98);
}

/* --- КРАСИВЫЕ ФОТОГРАФИИ ТОВАРОВ --- */
.item-photo-container {
    height: 110px; /* Высота блока с картинкой */
    margin-bottom: 10px;
    border-radius: 12px;
    overflow: hidden; /* Обрезает края фото под закругленные углы */
    background: #fdf2e9; /* Фон на случай, если фото долго грузится */
}

.sushi-photo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Идеально вписывает и центрирует любую картинку */
    display: block;
}
.item-title {
    font-size: 14px;
    font-weight: 700;
    margin: 5px 0;
}

.item-price {
    font-size: 13px;
    color: #e67e22;
    font-weight: bold;
    margin-bottom: 12px;
}

/* --- КНОПКИ (80% и 20%) --- */
.btn-group {
    display: flex;
    gap: 6px;
}

.btn-add {
    flex: 4; /* Занимает 80% */
    background: #e67e22;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 0;
    font-weight: bold;
    font-size: 12px;
}

.btn-minus {
    flex: 1; /* Занимает 20% */
    background: #f1f1f1;
    color: #666;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

/* --- НИЖНЯЯ ПАНЕЛЬ КОРЗИНЫ --- */
#cart-bar {
    position: fixed;
    bottom: 20px;
    left: 15px;
    right: 15px;
    background: #333;
    color: white;
    padding: 15px 20px;
    border-radius: 15px;
    display: none;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 100;
}

.cart-btn {
    background: #e67e22;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
}